@import '../styles/variables.scss';

.all-projects {
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding: 200px 152px;
  background-color: $dark-green;
}

//responsive tablet screen
@media (max-width: 1000px) {
  .all-projects {
    gap: 150px;
    padding: 200px 40px;
  }
}

//responsive tablet screen
@media (max-width: 780px) {
  .all-projects {
    gap: 200px;
    padding: 300px 40px 144px 40px;
  }
}

//responsive mobile screen
@media (max-width: 430px) {
  .all-projects {
    gap: 130px;
    padding: 300px 24px 80px 24px;
  }
}

//big screens
@media (min-width: 1500px) {
  .all-projects {
    padding: 200px 230px;
  }
}
