@import '../styles/variables.scss';

.footer {
  background-color: $dark-green;
  color: $beige;
  padding: 178px 175px 30px 175px;

  &.dark-green {
    background-color: $dark-green;
  }

  &.light-green {
    background-color: $light-green;

    .footer-social a:hover {
      color: $dark-green;

      path {
        stroke: $dark-green;
      }
    }
  }

  .footer-info {
    width: 60%;

    h2 {
      font-size: 48px;
      font-weight: 300;
      margin-bottom: 40px;
      font-family: 'LeJour';
    }

    p {
      font-size: 30px;
      width: 90%;
      margin-bottom: 30px;
      font-family: 'Regular';
      letter-spacing: 0.12rem;
    }
  }

  .footer-social {
    ul {
      display: flex;
      margin-top: 85px;
      margin-bottom: 85px;
      justify-content: center;
      gap: 35px;

      a {
        display: flex;
        align-items: center;
        gap: 20px;
        color: $beige;
        font-size: 32px;
        font-family: 'Regular';

        &:hover {
          color: $light-green;

          svg {
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-name: diagonal-to-top-right;

            @keyframes diagonal-to-top-right {
              from {
                transform: translateX(0) translateY(0);
              }

              to {
                transform: translateX(5px) translateY(-5px);
              }
            }
          }

          path {
            stroke: $light-green;
          }
        }
      }
    }
  }

  .footer-rights {
    color: $light-green;
    font-size: 16px;
    text-align: center;

    &.dark-green {
      color: $gray;
    }

    &.light-green {
      color: $light-green;
    }
  }
}

//responsive tablet screen
@media (max-width: 1000px) {
  .footer {
    padding: 178px 40px 16px 40px;

    .footer-info {
      width: 100%;

      h2 {
        font-size: 36px;
      }

      p {
        font-size: 20px;
      }
    }
  }
}

//responsive mobile screen
@media (max-width: 560px) {
  .footer {
    .footer-social {
      ul {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 34%;
        gap: 0;

        li {
          a {
            font-size: 14px;
            justify-content: space-between;

            svg {
              width: 33px;
            }
          }
        }
      }
    }
  }
}

//responsive mobile screen
@media (max-width: 430px) {
  .footer {
    padding: 96px 24px 24px 24px;

    .footer-info {
      h2 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }
    }

    .footer-social {
      ul {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 34%;
        gap: 0;

        li {
          a {
            font-size: 14px;
            justify-content: space-between;

            svg {
              width: 33px;
            }
          }
        }
      }
    }
    .footer-rights {
      font-size: 12px;
    }
  }
}

//big screens
@media (min-width: 1500px) {
  .footer {
    padding: 178px 230px 30px 230px;
  }
}
