$dark-green: #1b2e25;
$light-green: #506766;
$beige: #e7eae6;
$gray: #cbcbcb;

$title-fontSize-bigScreen: 36px;
$title-fontSize-tablet: 36px;
$title-fontSize-mobile: 20px;

$padding-big-screen: 230px;
