@font-face {
  font-family: 'Bold';
  src: local('Graphie-Bold'), url('./fonts/Graphie-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'ExtraBold';
  src: local('Graphie-ExtraBold'), url('./fonts/Graphie-ExtraBold.otf') format('truetype');
}

@font-face {
  font-family: 'Light';
  src: local('Graphie-Light'), url('./fonts/Graphie-Light.otf') format('truetype');
}

@font-face {
  font-family: 'ExtraLight';
  src: local('Graphie-ExtraLight'), url('./fonts/Graphie-ExtraLight.otf') format('truetype');
}

@font-face {
  font-family: 'Regular';
  src: local('Graphie-Regular'), url('./fonts/Graphie-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'LeJour';
  src: local('Le-Jour-Serif'), url('./fonts/Le-Jour-Serif.ttf') format('truetype');
}
