@font-face {
  font-family: 'Bold';
  src: local('Graphie-Bold'), url('../public/fonts/Graphie-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'ExtraBold';
  src: local('Graphie-ExtraBold'), url('../public/fonts/Graphie-ExtraBold.otf') format('truetype');
}

@font-face {
  font-family: 'Light';
  src: local('Graphie-Light'), url('../public/fonts/Graphie-Light.otf') format('truetype');
}

@font-face {
  font-family: 'ExtraLight';
  src: local('Graphie-ExtraLight'), url('../public/fonts/Graphie-ExtraLight.otf') format('truetype');
}

@font-face {
  font-family: 'Regular';
  src: local('Graphie-Regular'), url('../public/fonts/Graphie-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'LeJour';
  src: local('Le-Jour-Serif'), url('../public/fonts/Le-Jour-Serif.ttf') format('truetype');
}

@font-face {
  font-family: 'LeJourScript';
  src: local('Le-Jour-Script'), url('../public/fonts/Le-Jour-Script.ttf') format('truetype');
}
