@import '../src//styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-feature-settings: 'liga' on !important;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.title-bg-dark {
  font-size: 36px;
  font-weight: 300;
  color: $dark-green;
  font-family: 'Regular', sans-serif;
  letter-spacing: 1.5px;
}

.title-bg-light {
  font-size: 36px;
  color: $beige;
  font-family: 'Regular', sans-serif;
  letter-spacing: 1.5px;
}
